html,
body {
  margin: 0;
  height: 100%;
  background-color: #f3f3f3;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  padding: 20px;
  border: 0;
  outline: 0;
}

.search-input {
  border-radius: 30px;
  background: #fff;
  padding: 21px;
  width: 100%;
}

input {
  border-radius: 20px;
  background: #fff;

  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.03);
}

.page-title {
  margin-bottom: 15px;
}

.button {
  border-radius: 44px;
  background: #685ed7;
  padding: 13px;
  color: white;
  text-align: center;
  font-size: 14.5px;
  font-weight: bold;
  cursor: pointer;
}

.button-secondary {
  border: solid #685ed7 1px;
  color: #685ed7;
  background: transparent;
}

.button-error {
  background: #f8424d;
}

.page-header {
  display: flex;
  align-items: center;
}
